*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Consolas, monospace;
}

body{
    background:#000;
    color:#00ff66;
    font-family:Consolas,monospace;
    overflow:hidden;
    position:relative;
}

/* Matrix Background */
#matrix{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
}

.game{
    width:95%;
    margin:20px auto;
}

.header{
    text-align:center;
    padding:20px;
    border:2px solid #00ff66;
    box-shadow:0 0 15px #00ff66;
    margin-bottom:20px;
}

.header h1{
    color:#00ff66;
    text-shadow:0 0 15px #00ff66;
}

.main{
    display:grid;
    grid-template-columns:25% 50% 25%;
    gap:20px;
}

.left-panel,
.center-panel,
.right-panel{

    background:rgba(0,0,0,.8);

    border:2px solid #00ff66;

    border-radius:10px;

    padding:20px;

    box-shadow:0 0 15px #00ff66;

    min-height:420px;
}

.left-panel h2,
.center-panel h2,
.right-panel h2{

    text-align:center;

    margin-bottom:20px;
}

.left-panel button{

    width:100%;

    margin:10px 0;

    padding:15px;

    background:#111;

    color:#00ff66;

    border:1px solid #00ff66;

    cursor:pointer;

    transition:.3s;
}

.left-panel button:hover{

    background:#00ff66;

    color:black;
}

#terminal{

    height:320px;

    overflow:auto;

    background:black;

    color:#00ff66;

    padding:15px;

    border:1px solid #00ff66;
}

.bottom{

    margin-top:25px;

    text-align:center;
}

.bottom input{

    width:300px;

    padding:15px;

    background:black;

    color:#00ff66;

    border:2px solid #00ff66;

    border-radius:6px;

    font-size:18px;
}

.bottom button{

    padding:15px 35px;

    margin-left:15px;

    background:#00ff66;

    color:black;

    border:none;

    font-weight:bold;

    cursor:pointer;

    border-radius:6px;

    transition:.3s;
}

.bottom button:hover{

    transform:scale(1.05);

    box-shadow:0 0 20px #00ff66;
}


/* Floating Animation */

.left-panel,
.center-panel,
.right-panel{

    animation: floatBox 3s ease-in-out infinite;

}

@keyframes floatBox{

0%{
    transform:translateY(0);
}

50%{
    transform:translateY(-6px);
}

100%{
    transform:translateY(0);
}

}