* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

body {
    background: #000;
    color: #ff0000;
    font-family: Consolas, monospace;
    overflow: hidden;
    position: relative;
}

/* Red Matrix Background */
#matrix {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Main Game */
.game {
    width: 95%;
    margin: 20px auto;
}

/* Header */
.header {
    text-align: center;
    padding: 20px;
    border: 2px solid #ff0000;
    box-shadow: 0 0 15px #ff0000;
    margin-bottom: 20px;
}

.header h1 {
    color: #ff0000;
    text-shadow: 0 0 15px #ff0000;
}

/* Main Layout */
.main {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 20px;
}

/* Panels */
.left-panel,
.center-panel,
.right-panel {
    background: rgba(0, 0, 0, 0.8);

    border: 2px solid #ff0000;

    border-radius: 10px;

    padding: 20px;

    box-shadow: 0 0 15px #ff0000;

    min-height: 420px;
}

/* Panel Headings */
.left-panel h2,
.center-panel h2,
.right-panel h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* File Buttons */
.left-panel button {
    width: 100%;

    margin: 10px 0;

    padding: 15px;

    background: #111;

    color: #ff0000;

    border: 1px solid #ff0000;

    cursor: pointer;

    transition: 0.3s;
}

/* Button Hover */
.left-panel button:hover {
    background: #ff0000;

    color: black;
}

/* Terminal */
#terminal {
    height: 320px;

    overflow: auto;

    background: black;

    color: #ff0000;

    padding: 15px;

    border: 1px solid #ff0000;
}

/* Bottom Section */
.bottom {
    margin-top: 25px;

    text-align: center;
}

/* Input */
.bottom input {
    width: 300px;

    padding: 15px;

    background: black;

    color: #ff0000;

    border: 2px solid #ff0000;

    border-radius: 6px;

    font-size: 18px;
}

/* Submit Button */
.bottom button {
    padding: 15px 35px;

    margin-left: 15px;

    background: #ff0000;

    color: black;

    border: none;

    font-weight: bold;

    cursor: pointer;

    border-radius: 6px;

    transition: 0.3s;
}

/* Submit Hover */
.bottom button:hover {
    transform: scale(1.05);

    box-shadow: 0 0 20px #ff0000;
}

/* Floating Animation */
.left-panel,
.center-panel,
.right-panel {
    animation: floatBox 3s ease-in-out infinite;
}

@keyframes floatBox {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0);
    }
}
